<div class="card mb-2" style="width: 17rem;">
    <img [src]="pais.flags.png" class="card-img-top" [alt]="pais.name.official" />
    <div class="card-body">
        <h5 class="card-title">{{ pais.name.official }}</h5>
        <hr>
        <div class="container mb-1">
            <ul class="list-group list-group-flush">
                <li class="list-item-group">Capital: {{ pais.capital }}</li>
                <li class="list-item-group">Poblacion: {{ pais.population }}</li>
            </ul>
        </div>
        <div class="d-grig gap-2">
            <a [routerLink]="['/pais', pais.name.official]" class="btn btn-primary">Saber mas</a>
        </div>
    </div>
</div>