<div class="container">
    <div class="row">
        <!--- *ng If-->
        <div class="col-sm">
            <h2>
                "ngIf"
            </h2>

            <div class="alert alert-primary" *ngIf="mostrarMensaje" role="alert">
                Variable mostrarMensaje con valor
                a true.
            </div>
            <div class="alert alert-danger" *ngIf="!mostrarMensaje" role="alert">
                Variable mostrarMensaje con valor
                a false.
            </div>

            <button (click)="mostrarMensaje = !mostrarMensaje" type="button" class="btn btn-dark">Cambiar
                mensaje</button>
        </div>
        <!--- *ng For-->
        <div class="col-sm">
            <h2>*ngFor</h2>
            <ul *ngFor="let materia of materias; first as isFirst" class="list-group" s>
                <li [ngClass]="isFirst ? 'list-group-item active' :'list-group-item'" class="list-grup-item">
                    {{materia}}
                </li>
            </ul>
        </div>
        <!--- *ng Switch-->
        <div class="col-sm">
            <h2>*ngSwitch</h2>
            <div [ngSwitch]="contador %2">
                <div class="card" *ngSwitchCase="0">
                    <div class="card-body">Número par  {{contador}}</div>
                </div>
                <div class="card" *ngSwitchCase="1">
                    <div class="card-body">Número impar {{contador}}</div>
                </div>
                <button (click)="contador = contador +1" type="button" class="btn btn-dark">Incrementar</button>
            </div>
        </div>
    </div>
</div>